body{
  padding: 25px;
  background-color: #5C6AC4;
}
.lista_alu{
  background-color: antiquewhite;
  width: 67vh;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 100px;
}

.title {
	color: #5C6AC4;
}
.btn{
  text-decoration: none;
  color: black;
}
.btn1{
  background-color: green;
}

